html {
    font-family: 'Verdana', monospace;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    position: relative;
}

div {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
