.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &-images {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: center center no-repeat;
        background-size: cover;
        transition-property: transform, opacity;

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                z-index: 2 + $i;
            }
        }

        &:first-child {
            opacity: 0.95;
        }

        &.active {
            opacity: 1;

            &:not(.no-transform) {
                transform: scale(1.1, 1.1);
                transform-origin: 50% 50%;
            }
        }
    }

    &-description,
    &-item-text {
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-item-text {
        height: auto;
        font-size: 3rem;
        line-height: 68px;
        color: #fff;
        text-align: center;
        margin: 30vh 0 0;
        transition: opacity 0.5s;
        
        > span {
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            color: rgba(255, 255, 255, 0);
            
            &.transform-start {
                opacity: 0;
                text-shadow: rgb(0, 0, 0) 2px 3px 6px,
                rgb(0, 0, 0) -1px -1px 1px;
                color: #fff;
                transition-property: transform;
            }

            &.for-transform {
               transform: scale(1.2, 1.2);
               transform-origin: 50% 50%;
               opacity: 1;
            }

            &.for-spell {
                opacity: 1;
                text-shadow: rgb(0, 0, 0) 2px 3px 6px, rgb(0, 0, 0) -1px -1px 1px;
                color: #fff;
            }
        }

        span.clone-text {
            position: absolute;
            z-index: 200;
            top: 0;
            left: 0;
            width: 0;
            min-width: 0;
            height: 100%;
            display:block;
            overflow: hidden;
            word-wrap: normal;
            text-shadow: rgb(0, 0, 0) 2px 3px 6px,rgb(0, 0, 0) -1px -1px 1px;
            color: #fff;
        }

        &.is-opacity {
            opacity: 0;
        }
    }  
}