-
	var topMenu = [
		{url: '/', name: 'CyberX'},
		{url: '/clubs.html', name: 'Клубы'},
		{url: '/services.html', name: 'Услуги'},
		{url: '/news.html', name: 'Новости'},
		{url: '/contacts.html', name: 'Контакты'},{url: 'https://www.cyberx-franchise.ru/', name: 'Франшиза'}
	]

	var socItems = ['youtube', 'hz', 'fb', 'inst', 'wtapp', 'telegr', 'tw']