.slider.js-slider(data-link="http://beinweb.ru" data-time="2000")
    .slider-images
        .slider-item(style=" background-image: url(assets/images/slider-1.jpg);")
        .slider-item(style=" background-image: url(assets/images/slider-2.jpg);")
        .slider-item(style=" background-image: url(assets/images/slider-3.jpg);")
        .slider-item.no-transform(style=" background-image: url(assets/images/slider-4.jpg);")
    .slider-description
        .slider-item-text(data-animation="spell" data-delay="500" data-text-time="2000" data-slide-time="3000")
            span Покушать...
        .slider-item-text(data-animation="smoothly" data-delay="" data-time="" data-slide-time="5000")
            span Попариться...
        .slider-item-text(data-animation="transform" data-transform="40" data-delay="0" data-time="1500" data-slide-time="2000")
            span Баиньки...
        .slider-item-text(data-animation="smoothly" data-delay="500" data-time="2500" data-slide-time="4000")
            span Жизнь удалась!
    