.slider.js-slider(data-link="" data-time="2000" )
    .slider-images
        .slider-item(style="background-image: url(assets/images/slider-1.jpg);" data-slide-time="3000")
            .slider-item-text(data-animation="spell" data-text-delay="500" data-text-time="2000" )
                span Покушать...
        .slider-item(style="background-image: url(assets/images/slider-2.jpg);" data-zoom="40" data-zoom-delay="1500" data-slide-time="5000")
            .slider-item-text(data-animation="smoothly" data-text-delay="" data-text-time="" )
                span Попариться...
        .slider-item(style="background-image: url(assets/images/slider-3.jpg);" data-zoom-delay="1500" data-slide-time="2000" data-opacyti-time="1000")
            .slider-item-text(data-animation="transform" data-zoom="40" data-text-delay="0" data-text-time="1500")
                span Баиньки...
        .slider-item.no-transform(style="background-image: url(assets/images/slider-4.jpg);" data-slide-time="4000")
            .slider-item-text(data-animation="opacity" data-text-delay="500" data-text-time="2500" )
                .wrapp-test 
                    .wrapp-test-2
                        .wrapp-test-3
                            //- h1 Жизнь удалась!
                            //- p блок с любой разметкой, можно использовать как последний
                            //- p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные <a href="#">тексты</a>. 
                            a(href="step_3.html") 
                                | 2. 
                                p.underline Что ты мне, собственно, сделаешь?
                    //- <div class="title fs-4"> Теперь твоя </div>
                    //- <div class="title fs-4"> душенька довольна? </div>
                    //- <div class="title fs-4"> Смотреть будешь? </div>
                    //- <div class="descr fs-2-4">
                    //-     <div class="mb-4"><a href="/step_3.html"> 1. <span class="underline">А если нет, тогда что?</span></a></div>
                    //- <div>
                        //-     <a href="/step_3.html"> 2. <span class="underline">Что ты мне, собственно, сделаешь?</span></a>
                        //- </div>
                    //- </div>
        .slider-item(style="background-image: url(assets/images/slider-2.jpg);" data-zoom-delay="2500" data-slide-time="5000")
            .slider-item-text(data-animation="smoothly" data-text-delay="" data-text-time="" )
                span Попариться...
        .slider-item(style="background-image: url(assets/images/slider-3.jpg);" data-zoom="40" data-slide-time="2000")
            .slider-item-text(data-animation="transform" data-zoom="40" data-text-delay="0" data-text-time="1500" )
                span Баиньки...            